In [51]:
import mysql.connector as connector

In [52]:
try:
    conn = connector.connect(user='root', password='')
except connector.Error as err:
    print(f'Connection error: {err}')

In [53]:
# Defining cursor
cursor = conn.cursor()

In [54]:
try:
    cursor.execute("CREATE DATABASE little_lemon_db")
except:
    cursor.execute("drop database little_lemon_db")
    cursor.execute("CREATE DATABASE little_lemon_db")
print("The database little_lemon is created.\n")

In [55]:
cursor.execute('use little_lemon_db')

In [56]:
#MenuItems table
create_menuitem_table = """CREATE TABLE IF NOT EXISTS MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [57]:
create_menu_table = """CREATE TABLE IF NOT EXISTS  Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100)
);"""

In [58]:
create_booking_table = """CREATE TABLE IF NOT EXISTS  Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [59]:
create_orders_table = """CREATE TABLE IF NOT EXISTS  Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [60]:
create_employees_table = """CREATE TABLE IF NOT EXISTS   Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(100) NOT NULL,
Role VARCHAR(100) NOT NULL,
Address VARCHAR(100) NOT NULL,
Contact_Number INT,
Email VARCHAR(100) NOT NULL,
Annual_Salary VARCHAR(100) NOT NULL
);"""

In [61]:
# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [62]:
# Create Employees table
cursor.execute(create_menuitem_table)

In [63]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems ( Name, Type, Price)
VALUES
( 'Olives','Starters',5),
('Flatbread','Starters', 5),
( 'Minestrone', 'Starters', 8),
( 'Tomato bread','Starters', 8),
('Falafel', 'Starters', 7),
( 'Hummus', 'Starters', 5),
( 'Greek salad', 'Main Courses', 15),
( 'Bean soup', 'Main Courses', 12),
( 'Pizza', 'Main Courses', 15),
( 'Greek yoghurt','Desserts', 7),
('Ice cream', 'Desserts', 6),
('Cheesecake', 'Desserts', 4),
('Athens White wine', 'Drinks', 25),
('Corfu Red Wine', 'Drinks', 30),
( 'Turkish Coffee', 'Drinks', 10),
( 'Turkish Coffee', 'Drinks', 10),
('Kabasa', 'Main Courses', 17);"""

In [67]:

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
( 12, 'Anna','Iversen','19:00:00',1),
(12, 'Joakim', 'Iversen', '19:00:00', 1),
(19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(15, 'Marcos', 'Romero', '17:30:00', 4),
( 5, 'Hiroki', 'Yamane', '18:30:00', 2),
( 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (Name, Role, Address, Contact_Number, Email, Annual_Salary) VALUES
('Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
('Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
('Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
('Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
('Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
('John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [65]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
conn.commit()

In [68]:
# Populate Employees table
cursor.execute(insert_employees)
conn.commit()

In [ ]:
# Populate MenuItems table
cursor.execute(insert_menu)
conn.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
conn.commit()

# Populate Orders table
cursor.execute(insert_orders)
conn.commit()