In [69]:
import mysql.connector as connector
from mysql.connector import Error

In [70]:
try:
    conn = connector.connect(user='root', password='mackshon')
except connector.Error as err:
    print(f'Connection error: {err}')

In [71]:
# Defining cursor
cursor = conn.cursor()

### Setting up database

#### Database creation

In [72]:
try:
    cursor.execute("CREATE DATABASE little_lemon_db")
except:
    cursor.execute("drop database little_lemon_db")
    cursor.execute("CREATE DATABASE little_lemon_db")
print("The database little_lemon is created.\n")

The database little_lemon is created.

In [73]:
cursor.execute('use little_lemon_db')

#### Table creation

In [74]:
#MenuItems table
create_menuitem_table = """CREATE TABLE IF NOT EXISTS MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [75]:
create_menu_table = """CREATE TABLE IF NOT EXISTS  Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100)
);"""

In [76]:
create_booking_table = """CREATE TABLE IF NOT EXISTS  Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [77]:
create_orders_table = """CREATE TABLE IF NOT EXISTS  Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [78]:
create_employees_table = """CREATE TABLE IF NOT EXISTS   Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(100) NOT NULL,
Role VARCHAR(100) NOT NULL,
Address VARCHAR(100) NOT NULL,
Contact_Number INT,
Email VARCHAR(100) NOT NULL,
Annual_Salary VARCHAR(100) NOT NULL
);"""

In [79]:
# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

# Create Employees table
cursor.execute(create_menuitem_table)

#### Populating tables

In [80]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems ( Name, Type, Price)
VALUES
( 'Olives','Starters',5),
('Flatbread','Starters', 5),
( 'Minestrone', 'Starters', 8),
( 'Tomato bread','Starters', 8),
('Falafel', 'Starters', 7),
( 'Hummus', 'Starters', 5),
( 'Greek salad', 'Main Courses', 15),
( 'Bean soup', 'Main Courses', 12),
( 'Pizza', 'Main Courses', 15),
( 'Greek yoghurt','Desserts', 7),
('Ice cream', 'Desserts', 6),
('Cheesecake', 'Desserts', 4),
('Athens White wine', 'Drinks', 25),
('Corfu Red Wine', 'Drinks', 30),
( 'Turkish Coffee', 'Drinks', 10),
( 'Turkish Coffee', 'Drinks', 10),
('Kabasa', 'Main Courses', 17);"""

In [81]:

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
( 12, 'Anna','Iversen','19:00:00',1),
(12, 'Joakim', 'Iversen', '19:00:00', 1),
(19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(15, 'Marcos', 'Romero', '17:30:00', 4),
( 5, 'Hiroki', 'Yamane', '18:30:00', 2),
( 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (Name, Role, Address, Contact_Number, Email, Annual_Salary) VALUES
('Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
('Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
('Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
('Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
('Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
('John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [82]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
conn.commit()

In [83]:
# Populate Employees table
cursor.execute(insert_employees)
conn.commit()

In [84]:
# Populate MenuItems table
cursor.execute(insert_menu)
conn.commit()

In [85]:
# Populate Bookings table
cursor.execute(insert_bookings)
conn.commit()

In [86]:
# Populate Orders table
cursor.execute(insert_orders)
conn.commit()

In [87]:
conn.close()

### Implementing Stored Procedures

#### Creating connection pool

In [88]:
from mysql.connector.pooling import MySQLConnectionPool

In [89]:
dbconfig={
    "database":"little_lemon_db", 
    "user":"root", 
    "password":"mackshon"}

In [90]:
try:
    pool = MySQLConnectionPool(
                              pool_name="pool_a",
                              pool_size=2,
                              host='localhost',
                              **dbconfig
                            )
except Error as err:
    print("Error code: ", err.errno)
    print("Error message: ", err.msg)

In [91]:
conn = pool.get_connection()

In [92]:
cursor = conn.cursor()

#### Creating PeakHours Stored Procedure

In [93]:
stored_procedure = """
CREATE PROCEDURE IF NOT EXISTS PeakHours()
BEGIN
    SELECT
        HOUR(BookingSlot) Hour,
        COUNT(HOUR(BookingSlot)) NoBookings
    FROM
        little_lemon_db.bookings
    GROUP BY 
        HOUR(BookingSlot)
    ORDER BY
        COUNT(HOUR(BookingSlot)) DESC;
END
"""

In [94]:
cursor.execute(stored_procedure)

In [95]:
cursor.callproc('PeakHours')

()

In [96]:
results = next(cursor.stored_results())

In [97]:
dataset = results.fetchall()

In [98]:
cols = results.column_names

In [99]:
print(f"{cols[0]} {cols[1]}")
for item in dataset:
    print(f'{item[0]}   {item[1]}')

Hour NoBookings
19   2
15   1
17   1
18   1
20   1

#### Creating - GuestStatus Stored Procedure

In [100]:
stored_procedure_status = """
CREATE PROCEDURE IF NOT EXISTS GuestStatus()
BEGIN
    SELECT
        CONCAT(GuestFirstName," ",GuestLastName) GuestName,
        CASE
            WHEN Role = 'Manager' OR Role = 'Assistant Manager'
            THEN 'Ready to pay'
            WHEN Role = 'Head Chef'
            THEN 'Ready to serve'
            WHEN Role = 'Assistant Chef' 
            THEN 'Preparing Order'
            WHEN Role = 'Head Waiter'
            THEN 'Order served'
        END AS Status
    FROM
        little_lemon_db.bookings b
    LEFT JOIN
        little_lemon_db.employees e
    ON
        b.EmployeeID = e.EmployeeID
    ORDER BY
        2;
END
"""

In [101]:
cursor.execute(stored_procedure_status)

In [102]:
cursor.callproc('GuestStatus')

()

In [103]:
results = next(cursor.stored_results())

In [104]:
dataset = results.fetchall()

In [105]:
cols = results.column_names
print('{:16} | {:^7}'.format(*cols))
print('----------------------------------')
for item in dataset:
    print('{:16} | {:^13}'.format(*item))

GuestName        | Status
----------------------------------
Diana Pinto      | Order served
Marcos Romero    | Preparing Order
Anna Iversen     | Ready to pay
Joakim Iversen   | Ready to pay
Hiroki Yamane    | Ready to pay
Vanessa McCarthy | Ready to serve

In [106]:
cursor.close()
conn.close()

### Little Lemon analysis and sales report

### Task 1

* To create a connection pool, import MySQLConnectionPool class from MySQL Connector/Python.

* To find the information on the error, import the Error class from MySQL Connector/Python.

* Define your database configurations as a Python dictionary object called dbconfig.

* Establish a connection pool [pool_name = pool_b] with two connections. 

* Implement error handling using a try-except block in case the connection fails.

In [107]:
import mysql.connector as connector
from mysql.connector.pooling import MySQLConnectionPool

In [108]:
dbconfig={
    "database":"little_lemon_db", 
    "user":"root", 
    "password":"mackshon"}

In [109]:
try:
    pool = MySQLConnectionPool(
                              pool_name="pool_b",
                              pool_size=2,
                              host='localhost',
                              **dbconfig
                            )
    print("The connection pool is created with a name: ",pool.pool_name)
    print("The pool size is:",pool.pool_size)
except Error as err:
    print("Error code: ", err.errno)
    print("Error message: ", err.msg)

The connection pool is created with a name:  pool_b
The pool size is: 2

### Task 2
Three guests are trying to book dinner slots simultaneously. Get the connections from pool_b and insert the following data in the Bookings table:

In [110]:
#Function to connect users to the database
def get_connection(guest,pool):
    try:
        conn = pool.get_connection()
        print("[{}] is connected.\n".format(guest))
        return conn
    except:
        print("No more connections are available.")
        print("Adding new connection in the pool.")
        # Create a connection
        connection=connector.connect(user="root",password="mackshon")
        # Add the connection into the pool
        pool.add_connection(cnx=connection)
        print("A new connection is added in the pool.\n")
        print("[{}] is connected.\n".format(guest))
        return pool.get_connection()

In [111]:
#Insert statement
stmt = """INSERT INTO `little_lemon_db`.`bookings`(TableNo,GuestFirstName,GuestLastName,BookingSlot,EmployeeID)
VALUES ({}, '{}', '{}','{}',{});"""

#### Allocating Connections to users

#### Creating connection for Java and inserting to the database

In [112]:
connection1 = get_connection('Java',pool)

[Java] is connected.

In [113]:
cursor1 = connection1.cursor()

In [114]:
insertJava = stmt.format(8,'Anees','Java','18:00:00',6)
insertJava

"INSERT INTO `little_lemon_db`.`bookings`(TableNo,GuestFirstName,GuestLastName,BookingSlot,EmployeeID)\nVALUES (8, 'Anees', 'Java','18:00:00',6);"

In [115]:
cursor1.execute("Use little_lemon_db")

In [116]:
cursor1.execute(insertJava)

In [117]:
connection1.commit()
print('Record successfuly added to booking table')

Record successfuly added to booking table

#### Creating connection for Vin and inserting to the database

In [118]:
connection2 = get_connection('Vin',pool)

[Vin] is connected.

In [119]:
cursor2 = connection2.cursor()

In [120]:
insertVin = stmt.format(5,'Bald','Vin','19:00:00',6)

In [121]:
cursor2.execute("Use little_lemon_db")

In [122]:
cursor2.execute(insertVin)

In [123]:
connection2.commit()
print('Record successfuly added to booking table')

Record successfuly added to booking table

#### Creating connection for Jay and inserting to the database

In [124]:
connection3 = get_connection('Jay',pool)
cursor3 = connection3.cursor()

No more connections are available.
Adding new connection in the pool.
A new connection is added in the pool.

[Jay] is connected.

In [125]:
insertJay = stmt.format(12,'Jay','Kon','19:30:00',6)

In [126]:
cursor3.execute("Use little_lemon_db")

In [127]:
cursor3.execute(insertJay)

In [128]:
connection3.commit()
print('Record successfuly added to booking table')

Record successfuly added to booking table

#### Closing all Connections

In [129]:
cursor1.close()
cursor2.close()
cursor3.close()

True

In [130]:
from mysql.connector import Error
for connection in [connection1,connection2, connection3]:
    try:
        connection.close()
        print("Connection is returned to the pool")
    except Error as er:
        print("\nConnection can't be returned to the pool")
        print("Error message:", er.msg)

Connection is returned to the pool
Connection is returned to the pool

Connection can't be returned to the pool
Error message: Failed adding connection; queue is full

### Task 3
Create a report containing the following information:

* The name and EmployeeID of the Little Lemon manager.

* The name and role of the employee who receives the highest salary.

* The number of guests booked between 18:00 and 20:00.

* The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.

In [131]:
conn = pool.get_connection()
cursor = conn.cursor(buffered=True)

In [132]:
stmt1 = """
SELECT
    EmployeeID, Name
FROM
    Employees
WHERE 
    role = 'Manager'
"""

In [133]:
cursor.execute(stmt1)

In [134]:
manager = cursor.fetchone()
manager

(1, 'Mario Gollini')

In [135]:
stmt2 = """
SELECT
    Name, Role
FROM
    Employees
ORDER BY
    Annual_Salary DESC
LIMIT 1
"""

In [136]:
cursor.execute(stmt2)

In [137]:
highest_paid = cursor.fetchone()
highest_paid

('Mario Gollini', 'Manager')

In [138]:
stmt3 = """
SELECT 
    count(*) NoOfGuests
FROM
    Bookings
WHERE
    BookingSlot >= '18:00:00' AND  BookingSlot <= '20:00:00'
"""

In [139]:
cursor.execute(stmt3)

In [140]:
no_of_guests = cursor.fetchone()
no_of_guests

(7,)

In [141]:
stmt4 = """
SELECT
    BookingID,
    CONCAT(GuestFirstName ,' ', GuestLastName) Guest_name,
    BookingSlot
FROM
    Bookings
ORDER BY
    BookingSlot
"""

In [142]:
cursor.execute(stmt4)

In [143]:
guests = cursor.fetchone()
guests

(3, 'Vanessa McCarthy', datetime.timedelta(seconds=54000))

In [144]:
cursor.close()

True

In [145]:
conn.close()

### Task 4
Create a stored procedure named BasicSalesReport that returns the following statistics: 

* Total sales

* Average sale

* Minimum bill paid

* Maximum bill paid

In [146]:
conn = pool.get_connection()
cursor = conn.cursor(buffered=True)

In [147]:
stored_procedure = """
CREATE PROCEDURE IF NOT EXISTS BasicSalesReport(OUT TotalSales INT, OUT AverageSales INT,
OUT MinimumBillPaid INT, OUT MaximumBillPaid INT)
BEGIN 
    SELECT 
        SUM(BillAmount)
        INTO TotalSales
    FROM
        Orders;
    SELECT 
        AVG(BillAmount)
        INTO AverageSales 
    FROM
        Orders;
    SELECT 
        MIN(BillAmount)
        INTO MinimumBillPaid 
    FROM
        Orders;
    SELECT 
        MAX(BillAmount)
        INTO MaximumBillPaid 
    FROM
        Orders;
END 
"""

In [148]:
cursor.execute(stored_procedure)

In [149]:
result_args = cursor.callproc('BasicSalesReport',( 0, 1, 2, 3))

In [151]:
print('{:^7} | {:^7} | {:7} | {:^7}'.format(*cols))
print('-------------------------------------------------------------')
print('{:^10} | {:^12} | {:^15} | {:^13}'.format(*result_args))

TotalSales | AverageSales | MinimumBillPaid | MaximumBillPaid
-------------------------------------------------------------
   243     |      49      |       37        |      86

In [152]:
conn.close()

### Task 5
* Combine the data from the Bookings and the Employee tables. Sort the retrieved records in ascending order. Then display the information of the first three guests. 

* Returned the connection back to the pool.

The output should be as follows:

> [BookingSlot]

> [Guest_name]

> [Assigned to: Employee Name [Employee Role]]

In [160]:
conn = pool.get_connection()
cursor = conn.cursor()

In [154]:
stmt = """
SELECT
    BookingSlot,
    CONCAT(GuestFirstName ,' ', GuestLastName) Guest_name,
    CONCAT('Assigned to: ', Name,' ',Role) Details
FROM
    Bookings as b
JOIN
    Employees as e
ON
    b.EmployeeID = e.EmployeeID
ORDER BY
    BookingSlot ASC 
LIMIT 3;
"""

In [155]:
cursor.execute(stmt)

In [156]:
dataset = cursor.fetchall()

In [157]:
cols = cursor.column_names

In [158]:
print('{:^7} | {:^16} | {:7}'.format(*cols))
print('------------------------------------------------------------------------------')
for row in dataset:
    print('{}    | {:16} | {:^15} '.format(*row))

BookingSlot |    Guest_name    | Details
------------------------------------------------------------------------------
15:00:00    | Vanessa McCarthy | Assigned to: Giorgos Dioudis Head Chef
17:30:00    | Marcos Romero    | Assigned to: Fatma Kaya Assistant Chef
18:00:00    | Anees Java       | Assigned to: John Millar Receptionist

In [159]:
cursor.close()
conn.close()